body {
    color: #5d5955;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;

}
/* Section one on index.html */
.section1 {
    background-image: url("images/1.png");
    background-size: cover;
    min-height: 1080px;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    text-align: center;
}
 .header-text1 {
     position: relative;
     color: #5d5955;
     font-family: "Lexend", sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 5em;
     top: 40px;
     left: 150px;
     margin-left: 30%;
     margin-right: 20%;
 }

 .body-text1 {
     position: relative;
     font-family: "Lexend", sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size: 115%;
     top: 50px;
     left: 115px;
     margin-left: 40%;
     margin-right: 30%;
 }

/* Section 2 on index.html */
.section2 {
    background-image: url("images/2.png");
    background-size: cover;
    min-height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    text-align: center;
}
 .header-text2 {
     position: relative;
     color: #5d5955;
     font-family: "Lexend", sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 6em;
     top: 100px;

 }

  .body-text2 {
      position: absolute;
      font-family: "Lexend", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 2em;
      top: 25%;
      margin-left: 35%;
      margin-right: 35%;
  }
/* Section 3 on index.html */
 .section3 {
     background-image: url("images/3.png");
     background-size: cover;
     min-height: 1080px;
     background-position: bottom;
     background-repeat: no-repeat;
     background-attachment: initial;
     position: relative;
     text-align: center;
 }
 .header-text3 {
     position: relative;
     color: #5d5955;
     font-family: "Lexend", sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 6em;
     top: 10%;
 }


   .body-text3 {
       position: absolute;
       font-family: "Lexend", sans-serif;
       font-weight: normal;
       font-style: normal;
       font-size: 1em;
       top: 30%;
       right: 7%;
       left: 63%;
   }

/*image on section 3 */
.image1 {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 25%;
    right: 40%;
}
/*resources page */
.resources {
    background-image: url("images/8.png");
    background-size: cover;
    min-height: 1080px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    text-align: center;
}

 .header-text-resources {
     position: relative;
     color: #5d5955;
     font-family: "Lexend", sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 6em;
     top: 10%;
 }

 .body-text-resources {
    position: absolute;
        font-family: "Lexend", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        top: 25%;
        margin-left: 25%;
 }
/* faq section */
.faq {
    background-image: url("images/6.png");
    background-size: cover;
    min-height: 1080px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    text-align: center;
}

 .header-text-faq {
     position: relative;
     color: #5d5955;
     font-family: "Lexend", sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 6em;
     top: 10%;
     right: 30%;
     left: 20%;
 }

 .body-text-faq {
     position: absolute;
     font-family: "Lexend", sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size: 2em;
     top: 25%;
     right: 26%;
     margin-left: 35%;
 }
/* quiz page */
 #quiz-container {
     width: 1000px;
     margin: 50px auto;
     text-align: center;
     font-family: "Lexend", sans-serif;
     font-size: 2.4em;
     color: #5d5955;
     position: absolute;
     top: 20%;
     bottom: 50%;
     left: 25%;
 }

 .option {
     margin: 10px;
     padding: 20px 30px;
     background-color: #d8499c;
     color: whitesmoke;
     font-size: 0.5em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #next-button {
     margin-top: 20px;
     padding: 20px 30px;
     background-color: #008383;
     color: white;
     font-size: 0.5em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }


.quiz-bg {
    background-image: url("images/7.png");
        background-size: cover;
        min-height: 1080px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: cover;
        position: relative;
        text-align: center;
}
/* section 4 on index.html */
.section4 {
        background-image: url("images/4.png");
        background-size: cover;
        min-height: 1080px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: initial;
        position: relative;
        text-align: center;
        top: 1000px;
    }

         .header-text4 {
             position: relative;
             color: #5d5955;
             font-family: "Lexend", sans-serif;
             font-weight: bold;
             font-style: normal;
             font-size: 6em;
             top: 10%;
         }
    
         .body-text4 {
             position: absolute;
             font-family: "Lexend", sans-serif;
             font-weight: normal;
             font-style: normal;
             font-size: 1.5em;
             top: 25%;
             margin-left: 45%;
             margin-right: 10%;
         }

    .twitter1 { 
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 15%;
        right: 60%;
    }
    
    .video1 {
        position: absolute;
        max-width: 50%;
        height: auto;
        top: 2%;
        right: 69%;
        size-adjust: 60%;
    }


    .video2 {
        position: absolute;
        max-width: 50%;
        height: auto;
        top: 43%;
        right: 75%;
        height: 20%;
        width: 20%;
    }

        .twitter2 {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: 60%;
            right: 60%;
        }
    
        .video3 {
            position: absolute;
            max-width: 50%;
            height: auto;
            top: 50%;
            right: 73%;
            size-adjust: 60%;
        }

/* section 5 on index.html */
.section5 {
    background-image: url("images/3.png");
    background-size: cover;
    min-height: 1080px;
    min-width: 1380px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    text-align: center;
    top: 1000px;
}

                 .header-text5 {
                     position: relative;
                     color: #5d5955;
                     font-family: "Lexend", sans-serif;
                     font-weight: bold;
                     font-style: normal;
                     font-size: 6em;
                     top: 10%;

                 }
        
                 .body-text5 {
                     position: absolute;
                     font-family: "Lexend", sans-serif;
                     font-weight: normal;
                     font-style: normal;
                     font-size: 1.5em;
                    margin-left: 20%;
                    margin-right: 20%;
                 }






/* Heading 2 style */
h2 {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0%;
    margin-bottom: 0%;
    font-size: 3em;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    color: #60644F;
}

/*Heading 3 style */
h3 {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 2em;

}

/* heading 4 style */
h4 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Lexend", sans-serif;
    font-size: 20px;

}

/* paragrah style */
p {
    color: #5d5955;
    font-size: large;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0%;
}

/* list styling (menu at top) */
ul {
    color: #5d5955;
    font-size: large;
    text-align: left;
    justify-content: center;
    list-style-position: inside;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
}

/* ---- Colour of hyperlinks ----- */

a {
    color: #60644F
}

/* hover colour for hyperlinks */
a:hover {
    color: #9c4fc9;
}

/*This is for the table for week two & five lab Task. hover effect and some styling */

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    color: black;
}

th {
    background-color: #035e7b;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

/*navigation menu */

nav ul {
    list-style-type: none;
    /* Removes the bullet points */
    padding: 0;
    margin-left: 25%;
    margin-top: 1%;
    justify-content: center;
    display: flex;
    /* Makes the list items appear horizontally */
}

nav li {
    margin-right: 1%;
    /* Adds some spacing between menu items */
}

nav a {
    text-decoration: none;
    color: #035e7b;
    display: inline-block;
    font-size: larger;
    font-weight: 300;
}

nav a:hover {
    color: #002e2c;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    /* Changes color to blue when hovered over */
}

/* here is the styling for the videos in week 8,  */

#saferinternet {
    color: #60644F;
    text-align: center;
    margin-top: 10px;
    font-size: 5em;
    font-family: 'League Spartan', sans-serif;
}

#saferinternet:hover {
    color: #9c4fc9;

}

/* Hide the menu by default otherwise it duplicates */
#nav-menu {
    display: none;
    list-style-type: none;
    padding: 0;
}

